
@{
    ViewBag.Title = "Projects";
}

<link href="~/Content/projectsPage.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Kanit:200,700|Unica+One" rel="stylesheet">


<div id="myProjects" class="myProjects">
    <div class="content">
        <h2>Web Projects I worked on</h2>
        <br />
        <div class="project" id="mup">
            <h4><a href="http://www.meraudtapunjab.com/" target="_blank">www.MeraUdtaPunjab.com</a></h4>
            <div class="projectSnapshot">
                <a href="">
                    <img class="image" src="/Content/images/MUPsnapshot.jpg">

                    <div class="content">
                        @*<h5>MeraUdtaPunjab</h5>*@
                        @*<span class="projectType">(Website)</span>
                            <p>A news and entertainment website, targeted to viewers of Northern India.</p>*@

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    The website shows articles consisting of embedded videos from YouTube and Facebook.
                </p>
                <ul>
                    <li>
                        The website is made using
                        <span class="languageName">ASP.NET MVC 5</span> with
                        <span class="languageName">C#</span>. It uses <span class="languageName">WebAPI</span>
                        (with Data Transfer Objects) to communicate with server on some pages. As database, it uses
                        <span class="languageName">MS-SQL</span>.
                    </li>
                    <li>
                        It uses
                        <span class="languageName">HTML5</span>,
                        <span class="languageName">CSS3</span>,
                        <span class="languageName">SCSS</span>,
                        <span class="languageName">Bootstrap</span>,
                        <span class="languageName">jQuery</span>,
                        and other useful jQuery plugins and libraries.
                    </li>
                    <li>
                        It also uses
                        <span class="languageName">AngularJS</span>
                        to implement <b><u>infinite scroll</u></b> on one of the pages. AngularJS is used to
                        communicate with WebAPI from server. Data is then transferred to UI <b><u>without refreshing</u></b> the page.
                    </li>
                    <li>
                        The website is deployed on
                        <span class="languageName">Microsoft Azure</span>.
                    </li>
                    <li>Currently working on making the website mobile friendly.</li>
                </ul>


            </div>


        </div>



        <div class="project" id="yousubman">
            <h4><a href="http://www.yousubman.com/" target="_blank">www.YouSubMan.com</a></h4>
            <div class="projectSnapshot">
                <a href="">
                    <img class="image" src="/Content/images/yousubman.jpg">

                    <div class="content">
                        @*<h5>MeraUdtaPunjab</h5>*@
                        @*<span class="projectType">(Website)</span>
                        <p>A news and entertainment website, targeted to viewers of Northern India.</p>*@

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
This website can be used to organize youtube subscriptions                </p>
                <ul>
                    <li>
                        The website is made using
                        <span class="languageName">ASP.NET MVC 5</span> with
                        <span class="languageName">C#</span>. It uses <span class="languageName">WebAPI</span>
                        (with Data Transfer Objects) to communicate with server on some pages. As database, it uses
                        <span class="languageName">MS-SQL</span>.
                    </li>
                    <li>
                        It uses
                        <span class="languageName">HTML5</span>,
                        <span class="languageName">CSS3</span>,
                        <span class="languageName">SCSS</span>,
                        <span class="languageName">Bootstrap</span>,
                        <span class="languageName">jQuery</span>,
                        and other useful jQuery plugins and libraries.
                    </li>
                    <li>
                        It also uses
                        <span class="languageName">AngularJS</span>
                        . AngularJS is used to
                        communicate with WebAPI from server. Data is then transferred to UI <b><u>without refreshing</u></b> the page.
                    </li>
                    <li>
                        The website is deployed on
                        <span class="languageName">Microsoft Azure</span>.
                    </li>
                    <li>Currently working on making the website mobile friendly.</li>
                </ul>


            </div>


        </div>






    <div class="project" id="maharaja">
            <h4><a href="http://www.maharajakapurthala.com/" target="_blank">www.MaharajaKapurthala.com</a></h4>
            <div class="projectSnapshot">
                <a href="">
                    <img id="image" src="/Content/images/maharaja.jpg">
                    <div class="content">
                        @*<h5>MaharajaKapurthala</h5>*@
                        @*<span class="projectType">(Website)</span>
                            <p>A website for a very famous banquet hall in Punjab, India.</p>*@

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A static, responsive website of a banquet hall in India.
                </p>
                <ul>
                    <li>
                        It uses
                        <span class="languageName">HTML</span>,
                        <span class="languageName">CSS</span>,
                        <span class="languageName">Bootstrap</span>,
                        <span class="languageName">jQuery</span> and
                        <span class="languageName">jQuery plugins</span>.
                    </li>
                    <li>The jQuery plugins are used for image and video gallery.</li>
                </ul>


            </div>


        </div>

        <div class="project" id="gigHub">
            <h4>GigHub</h4>
            <div class="projectSnapshot">
                <a href="">
                    <div class="imageSnap"></div>
                    <img id="image" src="/Content/images/gighub.jpg">
                    <div class="content">
                        @*<h5>Gighub</h5>
                            <span class="projectType">
                                (Website, NOT ONLINE)<br />
                                <span class="boldItalicUnderline">made following a tutorial</span>

                            </span>
                            <p>A social networking where users can create Gigs and follow other artists' gigs.</p>*@
                    </div>
                </a>
            </div>

            <div class="projectDesc">
                <p>
                    A static, responsive website of a banquet hall in India.
                </p>
                <ul>
                    <li>
                        A social networking website for artists, where artists can add their upcoming Gigs,
                        and users can follow their favorite artists, and can add upcoming Gigs of an artist to their schedule.
                    </li>
                    <li>
                        As backend, the application uses
                        <span class="languageName">ASP.NET MVC 5</span>
                        with
                        <span class="languageName">C#</span>,
                        <span class="languageName">ASP.NET WebAPI</span> using
                        <span class="languageName">Data Transfer Objects</span>,
                        <span class="languageName">AutoMapper</span> and etc. And it uses
                        <span class="languageName">MS-SQL</span>
                        server for database.
                    </li>
                    <li>
                        As front end it uses
                        <span class="languageName">HTML 5</span>,
                        <span class="languageName">CSS</span>,
                        <span class="languageName">LESS</span>,
                        <span class="languageName">Bootstrap</span>,
                        <span class="languageName">jQuery</span>,
                        <span class="languageName">jQuery AJAX</span>,
                        jQuery plugins like
                        <span class="languageName">Toastr</span>
                        and bootstrap library
                        <span class="languageName">Bootbox.js</span>.
                        And it also uses
                        <span class="languageName">Animate.css</span>,
                        <span class="languageName">Moment.js</span> and
                        <span class="languageName">TypeAhead</span> jQuery plugin for autocomplete operations.
                    </li>


                </ul>


            </div>

        </div>

        <div class="project" id="weatherApp">
            <h4><a href="" target="_blank">Weather App</a></h4>
            <div class="projectSnapshot">
                <a href="http://youweather.azurewebsites.net/" target="_blank">
                    <img id="image" src="/Content/images/weather app.jpg">
                    <div class="content">
                        @*<h5>Weather App</h5>
                            <span class="projectType">
                                (Website)<br />

                            </span>
                            <p>An application that can be used to check weather of any city of the world.</p>*@
                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    This web application can be used to check weather of any city of the world.
                </p>
                <ul>
                    <li>
                        By default it shows the weather of Wellington, New Zealand.
                    </li>
                    <li>One can check weather of current location by clicking on the button on left-top corner of the screen.</li>
                    <li>One can search for any city of the world in the above world.</li>
                    <li>
                        It uses
                        <span class="languageName">HTML5</span>,
                        <span class="languageName">CSS3</span>,
                        <span class="languageName">JavaScript</span>,
                        <span class="languageName">jQuery</span>,

                        and etc.

                    </li>
                    <li>
                        It also uses
                        <span class="languageName">OpenWeatherMap API</span>,
                        to get weather information, and
                        <span class="languageName">Google Location API</span>
                        to get current location.
                    </li>

                    <li>Currently working on making the website mobile friendly.</li>
                </ul>


            </div>


        </div>


        <div class="project" id="sms">
            <h4><a href="" target="_blank">School Management System</a></h4>
            <div class="projectSnapshot">
                <a href="" target="_blank">
                    <img id="image" src="/Content/images/sms.png">
                    <div class="content">
                        @*<h5>School Management System</h5>
                            <span class="projectType">
                                    (WebApp, NOT ONLINE)<br />

                                </span>
                            <p>An A web application that can be used to manage day to day workings of a school.</p>*@
                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    This is a web app that can be used by any school to manage day-to-day tasks like, attendance, assignments and etc
                </p>
                <ul>
                    <li>
                        Students and teachers can login to the application. Teachers can mark attendances, upload assignments, etc.
                    </li>
                    <li>Students can check their attendance, download assignments and etc.</li>
                    <li>
                        It uses
                        <span class="languageName">HTML5</span>,
                        <span class="languageName">CSS3</span>,
                        <span class="languageName">JavaScript</span>,
                        <span class="languageName">ASP.NET MVC 4</span>,
                        <span class="languageName">LINQ with C#</span>,
                        <span class="languageName">Microsoft SQL Server</span>,
                        <span class="languageName">jQuery</span>,


                        and etc.

                    </li>
                </ul>


            </div>
        </div>


        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Mobile App Work</h2>
        <br />
        <div class="project" id="mapbox">
            <h4>Mapbox Offline Maps</h4>
            <div class="projectSnapshot">
                <a href="">
                    <img class="image" src="/Content/images/apps/mapbox.png">

                    <div class="content">
                        @*<h5>MeraUdtaPunjab</h5>*@
                        @*<span class="projectType">(Website)</span>
                            <p>A news and entertainment website, targeted to viewers of Northern India.</p>*@

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    An Android app made in Xamarin. This app is made as a proof of concept to see that are there any
                    free offline maps available for all platforms that can be used to customize and mark area in.
                </p>
                <p>
                    Users can mark an area in the app.
                </p>
                <ul>
                    <li>
                        The app is made using
                        <span class="languageName">ASP.NET MVC 5</span> with
                        <span class="languageName">C#</span>. It uses <span class="languageName">Mapbox Android SDK</span>
                        to make offline maps. The android SDK was translated into C# code.
                    </li>
                </ul>


            </div>


        </div>

        <div class="project" id="easys">
            <h4>Easy Schedular</h4>
            <div class="projectSnapshot">
                <a href="">
                    <img id="image" src="/Content/images/apps/easy.png">
                    <div class="content">
                        @*<h5>MaharajaKapurthala</h5>*@
                        @*<span class="projectType">(Website)</span>
                            <p>A website for a very famous banquet hall in Punjab, India.</p>*@

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    An android app that can be used to manage the ringing mode of your mobile
                </p>
                <ul>
                    <li>
                        It is made using <span class="languageName">Android Studio</span>
                    </li>
                </ul>


            </div>


        </div>

        <div class="project" id="rayshotdogs">
            <h4>GigHub</h4>
            <div class="projectSnapshot">
                <a href="">
                    <div class="imageSnap"></div>
                    <img id="image" src="/Content/images/apps/rayshotdogs.png">
                    <div class="content">
                        @*<h5>Gighub</h5>
                            <span class="projectType">
                                (Website, NOT ONLINE)<br />
                                <span class="boldItalicUnderline">made following a tutorial</span>

                            </span>
                            <p>A social networking where users can create Gigs and follow other artists' gigs.</p>*@
                    </div>
                </a>
            </div>

            <div class="projectDesc">
                <p>
                    An Android app made using Xamarin. This app is made following a tutorial, and can be used as Order management system of a restaurant.
                </p>


            </div>

        </div>




        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>Web Design Work</h2>
        <br />
        <div class="project" id="watch">
            <h4><a href="../../Content/web effects/e-one time effect/index.html" target="_blank">Wrist watch showcase</a></h4>
            <div class="projectSnapshot">
                <a href="../../Content/web effects/e-one time effect/index.html" target="_blank">
                    <img id="image" src="/Content/images/webwork/e-one.JPG">
                    <div class="content">
                        <h5>Watch showcase</h5>
                        <span class="projectType">(Effect)</span>
                        <p>a 360&#176 showcase of a watch.</p>

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A web design effect made using
                    <span class="languageName">HTML</span>
                    <span class="languageName">CSS</span>
                    <span class="languageName">JavaScript</span>
                    <span class="languageName">jQuery</span>
                </p>
            </div>


        </div>

        <div class="project" id="forfools">
            <h4><a href="../../Content/web effects/glittering effect/index.html" target="_blank">Glowing effect</a></h4>
            <div class="projectSnapshot">
                <a href="../../Content/web effects/glittering effect/index.html" target="_blank">
                    <img id="image" src="/Content/images/webwork/forfools.JPG">
                    <div class="content">
                        <h5>Glowing effect</h5>
                        <span class="projectType">(Effect)</span>
                        <p>A glowing effect on a logo.</p>

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A web design effect made using
                    <span class="languageName">HTML</span>
                    <span class="languageName">CSS</span>
                    <span class="languageName">Image stripes</span>
                    <span class="languageName">JavaScript</span>
                    <span class="languageName">jQuery</span>
                </p>
            </div>


        </div>

        <div class="project" id="twitterButton">
            <h4><a href="../../Content/web effects/custom animated twitter checkboxes/index.html" target="_blank">Twitter buttons</a></h4>
            <div class="projectSnapshot">
                <a href="../../Content/web effects/custom animated twitter checkboxes/index.html" target="_blank">
                    <img id="image" src="/Content/images/webwork/twitter checkbox.JPG">
                    <div class="content">
                        <h5>Twitter button</h5>
                        <span class="projectType">(Effect)</span>
                        <p>A custom animated twitter checkbox button.</p>

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A web design effect made using that simulates On/Off. The effect is made in
                    <span class="languageName">HTML</span>
                    <span class="languageName">CSS</span>
                    <span class="languageName">JavaScript</span>
                    <span class="languageName">jQuery</span>
                </p>
            </div>


        </div>

        <div class="project" id="toggleSlider">
            <h4><a href="../../Content/web effects/on off toggle switch/index.html" target="_blank">A simple toggle button</a></h4>
            <div class="projectSnapshot">
                <a href="../../Content/web effects/on off toggle switch/index.html" target="_blank">
                    <img id="image" src="/Content/images/webwork/toggleButton.JPG">

                    <div class="content">
                        <h5>Toggle button</h5>
                        <span class="projectType">(Effect)</span>


                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A web design effect made using
                    <span class="languageName">HTML</span>
                    <span class="languageName">CSS</span>.
                </p>
            </div>


        </div>

        <div class="project" id="runningMan">
            <h4><a href="../../Content/web effects/walking man/index.html" target="_blank">Running man</a></h4>
            <div class="projectSnapshot">
                <a href="../../Content/web effects/walking man/index.html" target="_blank">
                    <img id="image" src="/Content/images/webwork/walkingman.JPG">
                    <div class="content">
                        <h5>Running man</h5>
                        <span class="projectType">(Effect)</span>

                    </div>
                </a>
            </div>
            <div class="projectDesc">
                <p>
                    A web design effect made using
                    <span class="languageName">HTML</span>
                    <span class="languageName">CSS 3</span>
                </p>
            </div>


        </div>

        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>


@section scripts
{
    <script src="~/Scripts/readJson.js"></script>
}